
@use 'variables' as *;
@use 'type';
@use 'objects';
@use 'components/header';
@use 'components/img';
@use 'components/modal';
@use 'components/cursor';
@use 'components/reel';
@use 'components/project-list';
@use 'components/scroll';
@use 'utils';

  


body{
    font-family: $font-family-body;
    font-size:16px;
    color:$text;
    margin:0;
}

.postImage{
    padding-bottom:55%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background:red;
}


.postop{
    position:fixed;
    top:0;
    right:0;
    padding:10px;
    background:red;
}

.header{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
}

.layout{
    padding-top:90px;
}

.test{

    overflow: hidden;
}

.link{
    text-decoration: none;
    color:unse;
}

  .contenttest{
    border:1px solid red;
  }

  .fuck{
    width:800px;

    background-color: azure;
    transform-origin: center center;
    
  }