
@font-face {font-family: "Roobert-Regular";
  src: url("./fonts/6228016f2b172c06410f3a2356d33f6c.eot"); /* IE9*/
  src: url("./fonts/6228016f2b172c06410f3a2356d33f6c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/6228016f2b172c06410f3a2356d33f6c.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/6228016f2b172c06410f3a2356d33f6c.woff") format("woff"), /* chrome、firefox */
  url("./fonts/6228016f2b172c06410f3a2356d33f6c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/6228016f2b172c06410f3a2356d33f6c.svg#Roobert-Regular") format("svg"); /* iOS 4.1- */
}

$font-family-body: sans-serif;

